<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="label">Firstname</label>

                <div *ngIf="reactiveForm.controls['firstname'].hasError('required') && reactiveForm.controls['firstname'].touched"
                     class="alert alert-danger">Required field</div>
                <div *ngIf="reactiveForm.controls['firstname'].hasError('minlength') && reactiveForm.controls['firstname'].touched"
                     class="alert alert-danger">4 caracteres min</div>

                <input type="text"
                       class="form-control input is-invalid"
                       placeholder="Firstname..."
                       [formControl]="reactiveForm.controls['firstname']">
                <div class="invalid-feedback">Please provide a firstname</div>
            </div>

            <div class="form-group">
                <label class="label">Lastname</label>

                <div *ngIf="reactiveForm.controls['lastname'].hasError('required') && reactiveForm.controls['lastname'].touched"
                     class="alert alert-danger">Required field</div>
                <div *ngIf="reactiveForm.controls['lastname'].hasError('minlength') && reactiveForm.controls['lastname'].touched"
                     class="alert alert-danger">3 caracteres min</div>

                <input type="text"
                       class="input form-control is-invalid"
                       placeholder="Lastname..."
                       formControlName="lastname">
                <div class="invalid-feedback">Please provide a lastname</div>
            </div>

            <div class="form-group">
                <label class="label">Phone number</label>
                <input type="text"
                       class="input form-control is-invalid"
                       placeholder="Phone number..."
                       formControlName="phoneNumber">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="label">Address</label>
                <div *ngIf="reactiveForm.controls['address'].hasError('required') && reactiveForm.controls['address'].touched"
                     class="alert alert-danger">Required field</div>
                <div *ngIf="reactiveForm.controls['address'].hasError('minlength') && reactiveForm.controls['address'].touched"
                     class="alert alert-danger">10 caracteres min</div>

                <textarea type="text"
                          class="input form-control is-invalid"
                          placeholder="Address..."
                          formControlName="address"></textarea>
                <div class="invalid-feedback">Please provide an address</div>
            </div>

            <div class="form-group">
                <label class="label">Birthdate</label>
                <input type="text"
                       class="input form-control is-invalid"
                       placeholder="BirthDate..."
                       formControlName="birthDate">
            </div>
            <button class="btn btn-info  float-right ml-3">Back to the contacts list</button>
            <button class="btn btn-primary float-right"  [disabled]="!reactiveForm.valid"  type="submit">Save</button>
        </div>
    </div>
</form>

<!--<div class="col-md-12">Form status for Firstname: {{ reactiveForm.controls['firstname'].status }}</div> -->