<h2>{{ titlePage }}</h2>

<div class="row">
    <div class="col-md-8">

        <small style="color:dodgerblue;font-weight: bold;">Click on the name to display the detail of the contact</small>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Firstname lastname</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>BirthDate</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let contact of contacts">
            <tr>
                <td>{{ contact.id }}</td>
                <td (click)='onSelect(contact)' style="cursor:pointer">{{ contact.firstname }} {{ contact.lastname }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.birthDate }}</td>
                <td><button class="btn btn-default" routerLink="/contact/view/{{contact.id}}">View</button></td>
                <td>
                    <a class="btn btn-danger" routerLink="contact/edit/{{ contact.id }}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Contact detail</h3>
        <app-contact-detail [contact]='selectedContact'></app-contact-detail>
    </div>
</div>

