<div *ngIf="contact" class="card bg-info text-white">
    <div class="card-block">
        <h3 class="card-title">{{ contact.firstname }} {{ contact.lastname }}</h3>
        <p class="card-text">Address : {{ contact.address }}</p>
        <p class="card-text">Phone number : {{ contact.phoneNumber }}</p>
        <p class="card-text">BirthDate : {{ contact.birthDate }}</p>
    </div>
</div>