<div class='container-fluid principal'>

    <nav class='navbar navbar-expand-lg'>
        <a class='navbar-brand' href='/'>
            <img src="./assets/images/contact.jpg" alt="{{ title }}" style="width:70px">
        </a>
        <button
                class='navbar-toggler'
                type='button'
                data-toggle='collapse'
                data-target='#navbarNavAltMarkup'
                aria-controls='navbarNavAltMarkup'
                aria-expanded='false'
                aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item'>
                    <a class='nav-link' routerLink='/contacts' routerLinkActive="active">Contacts
                        <span class='sr-only'>(current)</span>
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' routerLink='/contact/add' routerLinkActive="active">Add a contact
                        <span class='sr-only'>(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</div>
